.section-sidebar {
  @include _mobile {
    display: flex;
    flex-direction: column;
    min-width: 306px;
    align-items: center;
    background-color: #fff;
  }

  @include _desktop {
    display: block;
    max-width: 306px;
    height: 100vh;
    padding: 36px 28px 0 28px;
  }
}
.sidebar {
  display: flex;
  padding: 0 12px;
  @include _mobile {
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }
  @include _desktop {
    flex-direction: column;
  }
}

/* Основные стили для ссылки */
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000; /* Цвет текста по умолчанию */
}
.logo-text {
  display: none;

  @include _tablet {
    display: inline-block;
    color: #000;
    font-size: 26px;
    font-weight: 600;
    text-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
    letter-spacing: 0.01em;
    -webkit-text-stroke: 1px black;
  }
}
.logo-text__vers {
  font-size: 10px;
  color: #838383;
  -webkit-text-stroke: 0;
  text-shadow: none;
  padding-left: 4px;
}

.logo .icon {
  fill: #000;
  transition: fill 0.3s ease;
}

.logo .logo-text {
  margin-left: 8px;
  transition: color 0.3s ease;
}

.logo:hover .logo_icon,
.logo:focus .logo_icon {
  fill: $page-color-accent;
}

.logo:hover .logo-text,
.logo:focus .logo-text {
  color: $page-color-accent;
  -webkit-text-stroke: 1px $page-color-accent;
}
.nav-menu {
  display: none;

  @include _desktop {
    display: block;
    padding-top: 64px;
  }
}
.nav-menu__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.nav-menu__item {
  width: 250px;
  padding: 11px 8px 11px 11px;
}
.nav-menu__link {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 14px;
  font-weight: 500;
  color: #9197b3;
  letter-spacing: -0.14px;
}
.nav-menu__link:hover,
.nav-menu__link:hover focus {
  background-color: $page-color-accent;
  color: #f9fbff;
}
.icon,
.nav-menu__icon {
  stroke: #9197b3;
}
.icon:hover,
.icon:focus {
  stroke: #f9fbff;
}

.nav-menu__item:hover,
.nav-menu__item:focus {
  background-color: $page-color-accent;
  color: #f9fbff;
  border-radius: 12px;
}
.nav-menu__item:hover .nav-menu__link,
.nav-menu__item:focus .nav-menu__link {
  color: #f9fbff;
}
.nav-menu__item:hover .icon,
.nav-menu__item:focus .icon {
  stroke: #f9fbff;
}
.nav-menu__item:hover .nav-menu__icon,
.nav-menu__item:focus .nav-menu__icon {
  stroke: #f9fbff;
}

.nav-menu__icon:first-child {
  margin-right: 14px; /* Отступ между первой иконкой и текстом */
}
.nav-menu__link .icon:last-child {
  margin-left: auto;
}
.nav-menu__item.active {
  background-color: $page-color-accent;
  color: #fff;
  border-radius: 12px;
}

.nav-menu__item.active .nav-menu__link {
  color: #fff;
}
.user-card {
  display: flex;
  gap: 12px;
  padding: 18px 18px;

  align-items: center;
  @include _desktop {
    max-width: 306px;
    height: 100vh;
    padding: 76px 0;
    margin-top: auto;
  }

  .user-card__name {
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    letter-spacing: 1%;
  }
  .user-card__title {
    font-size: 12px;
    font-weight: 400;
    color: #757575;
    letter-spacing: 1%;
  }
  .user-card__photo {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
}
.nav-menu__link.disabled {
  pointer-events: none; /* Отключает возможность клика */
  color: $page-color-second;
}
.search-wrapper,
.customers-list_info {
  display: none;
  @include _tablet {
    display: block;
  }
}
